[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmm"]
	path = cmm
	url = https://github.com/cran/cmm
[submodule "mokken"]
	path = mokken
	url = https://github.com/cran/mokken
